<!DOCTYPE html>
<html">
	<head>
		<title></title>
	</head>
	<body>
		<header">
			header
		</header>
		<main>
			<h1 style="margin: 20% 0 32.7% 0; padding:0 10px; font-size: calc(24px + 16 * (100vw / 1280));">
				{{{body}}}
			</h1>

		</main>
		<footer>
			footer
		</footer>
	</body>
    <script src="js/handlebars.js"></script>
</html>